body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    background-image: url(../images/so-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: dimgrey;
    font-family: 'EB Garamond', serif;
}
header {
    background-color:darkgray;
    text-align: center;
    overflow: auto;
    border-bottom: dimgrey 1px solid;

}

.name {
    color: #eee;
    background-color: rgb(133, 131, 131);
    font-size: 28px;
    font-family: 'EB Garamond', serif;
    padding: 5px;
    margin-left: 120px;
    margin-bottom: 0;
    float: left;
}

.name h1 {
    color: #eee;
    font-size: 28px;
    padding: 20px;
    margin: 0;

}

h1 {
    color: dimgrey;
    font-size: 24px;
   
}
a:link {
    color: dimgrey;
    text-decoration: none;
  }
  
  a:visited {
    color: whitesmoke;
    text-decoration: none;
  }
  

.topnav {
    color: #845007;
    float:right;
    margin-right: 150px;
    margin-top: 30px;
    font-size: 20px;
}
.about {
    padding: 5px 10px 5px 5px;
    border-right: 1px solid gray
}
.portfolio{
    padding: 5px 10px 5px 5px;
    border-right: 1px solid gray;
}
.contact{
    padding: 5px 10px 5px 5px;
}

.main-bio, .gallery {
    margin: 50px auto 0 auto;
    width: 50%;
    border: 1px solid  gray;
    padding: 0 40px 40px 40px;
    overflow: auto;
    width: 75%;
    background-color: whitesmoke;
    
}

#bio-image {
    float: left;
    width: 200px;
    height: 280px;
    margin: auto;
    margin-right: 20px;
}
/* Used W3Schools tutorial for making a Portfolio Gallery) */
* {
    box-sizing: border-box;
  }
  .row {
    margin: 8px -16px;
  }
  .row,
  .row > .column {
    padding: 8px;
  }
 
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }

footer {
    background-color: rgb(133, 131, 131);
    color: whitesmoke;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}